@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-sidebar-active: #f5f3ff;
  --color-sidebar-border-active: #4f35f3;
  --color-sidebar-text-default: #65676d;
  --color-sidebar-text-active: #4f35f3;
  --color-date-change-border: #dcdcdc;

  --color-icon-primary: #b0babf;
  --color-colum-bg: #f5f7f9;

  --color-button-primary: #4f35f3;

  --shadow-column-container:
    0px 1px 1px 0px #0000000f, 0px 0px 0px 1px #3c425714,
    0px 2px 5px 0px #3c42570a;
  --shadow-task-card: 0px 5px 3px -2px #00000005, 0px 3px 2px -2px #0000000f;
}

@font-face {
  font-family: "SF Pro Text";
  font-weight: 400;
  src: url("./assets/fonts/SFPRODISPLAYREGULAR.OTF") format("opentype");
}
@font-face {
  font-family: "SF Pro Text";
  font-weight: 500;
  src: url("./assets/fonts/SFPRODISPLAYMEDIUM.OTF") format("opentype");
}
@font-face {
  font-family: "SF Pro Text";
  font-weight: 600;
  src: url("./assets/fonts/SFPRODISPLAYBOLD.OTF") format("opentype");
}

* {
  font-family: "SF Pro Text", sans-serif;
}

:root {
  --toastify-toast-shadow: none;
  --toastify-toast-padding: 0;
}
